[defaults]
# Project root: ~/homelab
inventory           = inventory.yml
private_key_file    = ~/.ssh/ansible_homelab.pub  # public key — hints the SSH agent to use the matching private key
remote_user         = ansible
host_key_checking   = true        # set to false on first run if known_hosts isn't populated yet

# Human-readable output (ansible-core 2.13+)
stdout_callback     = ansible.builtin.default
result_format       = yaml
bin_ansible_callbacks = true


[privilege_escalation]
become              = true
become_method       = sudo
become_user         = root
become_ask_pass     = false
