[defaults]
# Project root: ~/homelab-ansible  (update if path changes)
inventory           = inventory.yml
private_key_file    = ~/.ssh/ansible_homelab.pub
remote_user         = ansible
host_key_checking   = false        # disable on first run; re-enable after known_hosts is populated

# Human-readable output (ansible-core 2.13+)
stdout_callback     = ansible.builtin.default
result_format       = yaml
bin_ansible_callbacks = true


[privilege_escalation]
become              = true
become_method       = sudo
become_user         = root
become_ask_pass     = false
